body {
    margin : 3em auto;
    max-width : 50em;
    font-family : "open sans", sans-serif;
    color : #333333;
    background-color: #f6f6f6;
}

ul.links {
    list-style-type : none;
    padding-left : 0;
    margin-bottom : 1.5em;
}

/* link stuff */

a {
    text-decoration : none;
}

a:link {
    color : #009000;
}

a:visited {
    color : #007000;
}
