ul {
    list-style : square inside;
}

a.name {
    font-style: italic;
}

a.tombstone {
    display : block;
    float : right;
    color : #333333;
    font-size : 200%;
}

a.tombstone:before {
    content: '◼';
}

hr.dinkus {
    border : none;
    text-align : center;
}

hr.dinkus:after {
    content : '⁂';
}

img {
    width: 100%;
}

figcaption {
    width: 100%;
    margin: auto;
    font-style: italic;
}
